/* БАР МЕНЮ */

.top-bar {
  width: 100%;
  padding: 8px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar button,
.dropdown a {
  padding: 6px 12px;
  font-size: 14px;
  color: #ffffff;
  background-color: #555;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  text-decoration: none;
}

.top-bar button {
  margin-right: 4px; /* Отступ справа между всеми кнопками */
}

.dropbtn {
  margin-left: 15px;
}

.dropdown-content hr {
  border: none;
  height: 1px;
  background-color: #444;
  margin: 5px 0;
}

/* увеличение при наведении для всех кнопок на панели меню */
.top-bar button:hover,
.dropdown a:hover {
  background-color: #777; /* Цвет при наведении */
  transform: scale(1.05); /* Увеличение при наведении */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  min-width: 200px; /* Увеличиваем ширину */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 4px; /* Скругление углов */
  z-index: 1;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Анимация появления */
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
}

.dropdown-content a:hover {
  background-color: #777;
  border-left: 4px solid #ff4081; /* Пунктирная линия слева при наведении */
}

/* Анимация для кнопок меню */
.dropdown-content a {
  position: relative;
  transition: background-color 0.3s, padding-left 0.3s;
}

.dropdown-content a:hover {
  padding-left: 20px; /* Сдвиг при наведении */
}

/* Кнопка "Выход" */
.exit {
  background-image: url("../icon/Exit_Account.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
}

.top-bar .exit {
  margin-right: 25px;
}

/* Стили для кнопки (стрелки) прокрутки вверх */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 80px; /* Смещаем кнопку вправо */
  width: 50px; /* Размеры кнопки */
  height: 50px;
  background-color: #1976d2; /* Цвет кнопки */
  color: #fff;
  border: none;
  border-radius: 50%; /* Делаем кнопку круглой */
  font-size: 24px; /* Размер стрелки */
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0; /* Изначально невидима */
  visibility: hidden; /* Скрыта визуально */
  transform: translateY(100px); /* Позиция вне экрана */
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

.scroll-to-top:hover {
  background-color: #2196f3; /* Меняем цвет при наведении */
}

/* Имя авторизованного пользователя */
#auth-name {
  font-size: 12px;
  margin-right: 15px; /* Отступ справа для отдаления от кнопки "Выход" */
  text-align: right;
  flex-grow: 1; /* Растягиваем элемент, чтобы он занимал доступное пространство */
  padding-right: 5px; /* Небольшой отступ справа для красоты */
}

/* Кнопка  "Установка ПО" и "Выполнить cmd / PowerShell" */
.installProgram-button,
.executeCommand-button {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

/* Меньшее увеличение при наведении, только для этох двух кнопок */
.top-bar .installProgram-button:hover,
.top-bar .executeCommand-button:hover {
  transform: scale(1.03);
}

/* Отключение кнопок */
.installProgram-button:disabled,
.executeCommand-button:disabled {
  color: #000;
  cursor: not-allowed;
}

/* Bконки в "Меню" */
.menu-item-with-icon {
display: flex; /* Располагаем иконку и текст в ряд */
align-items: center; /* Выравниваем по центру по вертикали */
}

.menu-icon {
width: 16px; /* Установите желаемый размер */
height: 16px;
vertical-align: middle; /* Выравнивание по середине строки */
margin-right: 8px; /* Отступ справа от иконки до текста */
margin-left: -4px; /* Отступ от левого края до иконки */
}

.menu-item-with-icon span {
flex-grow: 1; /* Текст занимает всё оставшееся пространство */
}

.dropdown-content a.removeFiReAgent-disabled {
  pointer-events: none;   /* блокирует клики */
  opacity: 0.5;           /* визуально серое */
  cursor: not-allowed;
}